header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1976D2;
  height: 56px;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: white;
}

header img {
  width: 50px;
}

header h1 {
  font-weight: 400;
  margin: 0 0 0 10px;
}

nav {
  margin-bottom: 10px;
}

nav ul {
  padding: 10px;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 20px;
}

nav ul li.active {
  border-bottom: 2px solid lightcoral;
  color: lightcoral;
}

nav ul li a {
  font-size: 22px;
  color: inherit;
  text-decoration: none;
}