main {
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

todo-form,
todo-list {
  width: 100%;
}